
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
      
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.15/css/mdb.min.css" rel="stylesheet">	
     
        <title>{% block title %}
          Login to Room Booking System
        {% endblock  %}</title>
    </head>
    <body>
          {% if messages %}
                {% for msg in messages %}
                <script>
                  alert('{{msg}}');
                </script>
                {% endfor %}
          {% endif %}
          <form method="POST">
                <section class="vh-100" style="background-color: #508bfc;">
                    <div class="container py-5 h-100">
                      <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                          <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                  
                              <h3 class="mb-5">Admin Sign in</h3>
                        
                              {% csrf_token %}
                              {% for field in login_form  %}
                              <div class="form-outline mb-4">
                                <div>{{ field }} </div>
                                <label class="form-label">{{ field.label_tag }}</label>
                              </div>
                              {% endfor %}
                                                
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  </form>
    </body>
    </html>